body {
  font-family: sans-serif;
}

.scaleLabel {
  height: 90vh;
  text-align: center;
  position: relative;
}

.scaleName {
  font-size: 2em;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scaleSelectors {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.harmonySelector {
  width: 40%;
}

.nextScaleButton {
  width: 55%;
}
